---
const { text } = Astro.props;
---

<div class="relative w-full max-w-4xl mx-auto mt-24 mb-10 px-7 xl:px-0">
  <div class="w-full h-px border-t border-dashed border-neutral-300 dark:border-neutral-600 mb-10"></div>
  <h2 class="text-3xl font-bold tracking-tight md:text-4xl lg:text-5xl dark:text-white">
    {text}
  </h2>
</div>
